<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay - Your Cart</title>

    <h1>Your Cart:</h1>

</head>
<body>
    <p>x1  ir Jordan 1 Mid "Alternate Bred" Black Fire Red-110$</p>
    <p>x1 Stainless Steel CZ Ring Womens Mens Jewelry-45$</p>

    <p> 155$
        + Tax: 16.76$
        +Shipping Fee: 20$
        +Tip (10%): 15.5$
        Total: 207.26$
    </p>





    <form>Credit Card Number:</form>
    <form>Credit Card Experation Date</form>
    <form>Credit Card 3 back number:</form>

    <a href="http://127.0.0.1:5000/product"></a>
    <a href="http://127.0.0.1:5000/product2"></a>
    <a href="http://127.0.0.1:5000/"></a> 
</body>
</html> 