<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Ebay(by Adam Meisler-Barr)</h1>

    <h2>Your local Ebay Website!</h2>

    <p>Hello! This Adam Meisler-Barr, a MEET Y2 student, with a "Ebay" website. Have fun!!!</p>

    <div>Recently Popular!:</div>
    <img src="/static/AirJord.jpg">
    <p>Air Jordan 1 Mid "Alternate Bred" Black Fire Red(130$)</p>
    <a href="product">Go to Purchase</a>

<div>--------------------------------------</div>

    <div>On sale!:</div>
    <img src="/static/ring.jpg">
    <p>Steel CZ Ring Womens Mens Jewelry(10$)</p>
    <a href="product2">Go to Purchase</a>

<div>--------------------------------------</div>
    <div>Go buy:</div>
    <a href="https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2334524.m570.l1313&_nkw=electroinics&_sacat=0&LH_TitleDesc=0&_odkw=cloths&_osacat=0">Electronics</a>

    <div>Go buy:</div>
    <a href="https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2334524.m570.l1313&_nkw=jewelry&_sacat=0&LH_TitleDesc=0&_odkw=electroinics&_osacat=0">Jewelry</a>

    <div>Go buy:</div>
    <a href="https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313&_nkw=cloths&_sacat=0">Cloths</a>

    <div>Go buy:</div>
    <a href="https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2334524.m570.l1313&_nkw=shoes&_sacat=0&LH_TitleDesc=0&_odkw=jewelry&_osacat=0">Shoes</a>



    <a href="cart.html">Go to cart</a>
</body>
</html>