<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Jordan 1 Mid "Alternate Bred" Black Fire Red</title>
    <h1>Air Jordan 1 Mid "Alternate Bred" Black Fire Red</h1> <h2>100$ - 130$</h2>


<body>
    <img src="/static/AirJord.jpg">  <p>Paying homage to the OG “Bred” colorway, this AJ 1 features an all-leather construction. Predominantly painted in black, fire red hues hit the Nike Swoosh, toe box, and ankle flap, where you’ll also find the His Airness’ signature winged basketball emblem. Unlike the original “Bred,” however, the heel is done up in black rather than red, aptly earning this colorway the nickname “Alternate Bred.”</p>

    <button type="button">Add to Cart</button>


<div>---------------------------------------</div>

    <a href="cart.html"></a>

    <a href="home.html">Back to Home Page</a>
</head>
</body>
</html>