<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay - Stainless Steel CZ Ring Womens Mens Jewelry </title>
    <h1>Stainless Steel CZ Ring Womens Mens Jewelry</h1> <h2>30$ - 50$</h2>


</head>
    <body>
    <img src="/static/ring.jpg">  <p>Stainless Steel CZ Ring Womens Mens Jewelry Titanium Rings Wedding Party Bridal</p>

    <button type="button">Add to Cart</button>



<div>---------------------------------------</div>


    <a href="cart.html"></a>

    <a href="home.html">Back to Home Page</a>
</body>
</html>